name: kadai4,test
on: push

jobs:
  build:
    name: Greeting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      - name: kadai4_test
      - run: bash kadai4_test.sh
      
